h1 {
    border: 2px solid red;
    background-color: #6a6;
    padding: 10px;
}

ul {
    margin: 15px;
    background-color: #DE1E7E;
}

P {
    width: 500px;
    height: 300px;
    border: 2px dotted black;
    background-color: #FB1;
}

a {
    border-bottom: 3px dashed;
    background-color: #a1a1a1;
}